In [1]:
import os
import openai

In [2]:
# os.environ['OPENAI_API_KEY'] = ''

In [3]:
openai.api_key = os.getenv('OPENAI_API_KEY')

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv("/Users/keviny/Documents/Udemy_OpenAI_Course/01-NLP-to-SQL/sales_data_sample.csv")

In [8]:
import sqlalchemy

In [9]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [12]:
# Set up a temporary database inside our RAM
temp_db = create_engine('sqlite:///:memory:',echo=True)

In [ ]:
# Push Pandas Data Frame --> Temporary Database
data = df.to_sql(name='Sales', con=temp_db) # refer to this table as 'sales' and connection to temp_db

In [21]:
# SQL query on temporary Database
with temp_db.connect() as conn:
    # makes the connection
    # run code indentation/block
    result = conn.execute(text("SELECT SUM(SALES) from Sales"))

2023-05-20 17:13:36,303 INFO sqlalchemy.engine.Engine SELECT SUM(SALES) from Sales
2023-05-20 17:13:36,306 INFO sqlalchemy.engine.Engine [generated in 0.00268s] ()

In [22]:
result.all()

[(10032628.85000001,)]